.Photos {
    background-color: red;
}

.Photos img {
    border-radius: 4px;
}

.smaller-photo {
    width: 100%; 
    max-width: 200px; 
}

.row {
    display: inline-flex; 
}

.col-auto mb-3 {
    justify-content: space-between;
    
}
